:root {
	--bg: #fdfdfd;
    --header-height: 70px;
    --header-bg: #fafafa;
    --header-fg: #333;
    --header-fg-accent: #000;
    --border: thin solid #ddd;
    --nav-item-selected-bg: #eaeaea;
	--prev-next-separator: none;
	--prev-next-border: thin solid #bbb3;
	--prev-next-bg: #fafafa;
	--hovered-prev-next-bg: #eaeaea;
	--code-fg: #111;
	--code-bg: #eee;
	--thead-border: thin solid #aaa;
	--tr-border: thin solid #d1dadf75;
	--link-fg: #000;
	--hovered-link-bg: #ffd700;
}

body, div, nav, main {
    min-height: 0;
    margin: 0;
    padding: 0;
    color: #222;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: var(--bg);
    min-height: 100vh;
	font-family: Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.5;
}

header, nav.site-nav {
    flex: 0 0 auto;
    font-weight: bold;
}
header a, nav.site-nav a {
    color: var(--header-fg);
}
nav.site-nav a {
    color: var(--header-fg);
    line-height: 200%;
}
header {
    flex: 0 0 var(--header-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
header .home-link {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 20px;
}
header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header a {
    text-decoration: none;
}

div.columns {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.nav-link img, .nav-link svg {
	max-width: 30px;
	max-height: 30px;
	margin: 0 10px;
}
.nav-icons .nav-link svg {
	margin: 20px 0;
}
.nav-link svg, .nav-link svg path {
    fill: var(--header-fg);
    stroke: var(--header-fg);
}
.nav-link:hover {
    color: var(--header-fg-accent);
}
.nav-link:hover svg, .nav-link:hover svg path {
    fill: var(--header-fg-accent);
    stroke: var(--header-fg-accent);
}
.nav-link span {
	margin: 0 5px;
}
nav.site-nav {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    padding: 10px 20px;
}
ul.nav-menu {
    padding-inline-start: 20px;
}
.columns .center {
    flex: 0 1 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 7px 0 0 0;
}
main {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0 10px 0;
}
div.right-column {
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
    padding: 20px 20px 20px 10px;
    align-items: center;
}
.on-this-page {
    margin: 30px 0 0 0;
    font-size: 85%;
    text-align: left;
    align-self: stretch;
}
nav.page-toc {
    justify-content: center;
}
aside.nav-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
aside.nav-icons .nav-link img {
	max-width: 30px;
	max-height: 30px;
	margin: 10px;
}

nav.site-nav li {
    display: block;
}
nav.site-nav li:hover > a {
    color: var(--header-fg-accent);
}
nav.site-nav li a {
    text-decoration: none;
}
nav.site-nav li.selected a, nav.site-nav li:has(li.selected) > a {
    color: var(--header-fg-accent);
}
.search-opener, .previous-page-link, .next-page-link {
	opacity: 0.75;
}
.search-opener:hover, .previous-page-link:hover, .next-page-link:hover {
	opacity: 1;
}
.nav-link.unexpanded,  .nav-link.unexpanded:hover {
	opacity: 0.1;
}

.site-nav > .nav-menu > .nav-item:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
.site-nav > .nav-menu > .nav-item {
    margin-top: 10px;
    padding-top: 10px;
    border-top: var(--border);
}
.nav-item {
    padding: 2px 8px;
}
.nav-item .nav-item {
    border-radius: 5px;
}
.nav-item.selected {
    background: var(--nav-item-selected-bg);
}

div.page-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0 80px 0;
}

.page-toc .toc-title {
    display: none;
}
.page-toc .toc-content {
    padding-inline-start: 0;
}
.page-toc li {
    display: block;
}
.page-toc .toc-item {
    border-left: solid 3px transparent;
    transition: border-left 0.4s;
}
.page-toc .toc-item.h1 {
    padding-left: 7px;
}
.page-toc .toc-item.h2 {
    padding-left: 19px;
}
.page-toc .toc-item.h3 {
    padding-left: 30px;
}
.page-toc .toc-item.active {
    border-left: solid 3px var(--header-fg-accent);
    transition: border-left 0.4s;
}
.page-toc .toc-item a {
    color: var(--header-fg);
    text-decoration: none;
}
.page-toc .toc-item.active a {
    color: var(--header-fg-accent);
}
.page-toc .toc-item a:hover {
    color: var(--header-fg-accent);
}

header {
    top: 0;
    z-index: 100;
    position: sticky;
    background: var(--header-bg);
    border-bottom: var(--border);
}
nav.site-nav {
    position: sticky;
    top: var(--header-height);
    z-index: 50;
}

.right-column .search-opener {
    font-size: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (min-width: 768px) { /* wide screens */
    .mobile {
        display: none; /* hide mobile-only elements on wide screens */
    }
	#nav-toggle, .nav-toggle-label { /* hide hamburger on wide screens */
		display: none;
	}
    .site-nav > .nav-menu {
        border: var(--border);
        border-radius: 10px;
        padding: 15px;
        background: var(--header-bg);
        max-height: calc(100vh - var(--header-height) - 40px);
        overflow-y: auto;
    }
    div.right-column {
        position: sticky;
        top: var(--header-height);
        max-height: calc(100vh - var(--header-height));
        overflow-y: auto;
        align-self: flex-start;
    }
    aside.nav-icons {
        padding-top: 100px;
        top: var(--header-height);
        position: sticky;
    }
    .nav-icons .nav-link svg {
        margin: 15px 0;
    }
}
@media (max-width: 900px) {
	.columns nav.page-toc {
		display: none; /* hide prev/next on small screens */
	}
}

main table {
	margin: 20px 0 35px 0;
	border-collapse: collapse;
}
th, td {
	padding: 10px 4px;
}
table > thead tr {
	border-bottom: var(--thead-border);
}
table tr td {
	border-bottom: var(--tr-border);
}


pre {
	padding: 0;
	border-radius: 5px;
	color: var(--code-fg);
	background: var(--code-bg);
	border: solid 1px var(--code-bg);
	font-weight: normal;
	padding: 6px 0 4px 6px;
	max-width: 800px;
}
code {
    padding: 2px 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
	border-radius: 0;
	color: var(--code-fg);
	background: var(--code-bg);
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 80%;
}
pre code {
    display: block;
    background: transparent;
    border: none;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
}

main a {
	text-decoration: underline;
	color: var(--link-fg);
}
main a:hover {
	background: var(--hovered-link-bg);
}

/* prev - next page links */

.prev-next {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 40px 0 10px 0;
	padding: 20px 0;
	font-size: 87%;
	border-top: var(--prev-next-separator);
}
.prev-next .unexpanded {
	opacity: 0;
}
.prev-next .nav-link.previous-page-link svg, .prev-next .nav-link.next-page-link svg {
	max-width: 20px;
	max-height: 20px;
	margin: 0 0 0 10px;
}
.prev-next .nav-link {
    text-decoration: none;
}
.prev-next .nav-link span {
    color: var(--header-fg);
}
.prev-next .nav-link {
	flex: 1 1 30%;
	padding: 10px 15px;
	border: var(--prev-next-border);
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: var(--prev-next-bg);
}
.prev-next .nav-link:hover {
	background: var(--hovered-prev-next-bg);
}
.prev-next .previous-page-link {
	justify-content: flex-start;
}
.prev-next .next-page-link {
	justify-content: flex-end;
}
@media (max-width: 768px) { /* mobile */
	.prev-next .nav-link {
		padding: 10px 2px;
	}
	.prev-next .nav-link.previous-page-link {
		margin-right: 2px;
	}
	.prev-next .nav-link.next-page-link {
		margin-left: 2px;
	}
}
@media (min-width: 768px) { /* wide screens */
	.prev-next .nav-link {
		padding: 10px 15px;
	}
	.prev-next .nav-link.previous-page-link {
		margin-right: 5px;
	}
	.prev-next .nav-link.next-page-link {
		margin-left: 5px;
	}
}
